<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">
      <img src="/images/home_icon.png" title="DBIx::Custom">
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li>
    here
  </li>
</ol>

<h2>DBIx::Customのインストール</h2>

DBIx::Customをインストールにはcpanコマンドを使用します。

<pre>
cpan DBIx::Custom
</pre>

WindowsでもUnix系のOSでもインストールすることができます。cpanコマンドではルート権限がないインストールを行うことができませんので、ユーザーのローカル環境にインストールしたい場合はcpanmなどのツールを使用してください。

