<h2>パスワードの設定,データベースとテーブルのアクセス権限の設定 - grantコマンド</h2>

ユーザーにパスワードとデータベースとテーブルの権限を設定するには、grantコマンドを使用します。

あるユーザーには、すべての権限、あるユーザーには、SELECT権限だけを与えるということができます。<a href="/blog/20200523082643.html">ユーザーの作成</a>は事前に行っておきましょう。

また、このデータベースのすべてのテーブルの権限という設定を行うことができます。

GRANTコマンドの構文です。

<pre>
GRANT 権限タイプ ON データベース名.テーブル名 TO 'ユーザー名'@'ホスト名' IDENTIFIED BY 'パスワード';
</pre>

権限タイプには、ALTER TABLEなどを含めてすべての権限を与える「ALL」、INSERT権限だけを与える「INSERT」、UPDATE権限だけを与える「UPDATE」、DELETE権限だけを与える「DELTE」、SELECT権限だけを与える「SELECT」などがあります。

権限タイプは、「,」を使って複数並列して指定できます

データベース名とテーブル名には、すべてという意味のワイルドカード「*」が使えます。

ユーザー名とホスト名とパスワードは文字列です。

ホスト名は、ローカルからのみアクセスする場合は「%」、特定リモートからアクセスする場合は、そのリモートの「IPアドレス」を指定しましょう。ローカルとリモートからのすべてのアクセスを指定する場合は「%」という文字列が使えます。一般的には、アクセス制御を、MariaDBの機能ではなく、ファイアーウォールを使って行うので「%」でもよいでしょう。

<h3>すべての権限を与える</h3>

特定のデータベースのすべてのテーブルにすべての権限を与える。

<pre>
GRANT ALL ON mydatabase.* TO 'kimotoall'@'%' IDENTIFIED BY 'eifjutAB&';
</pre>

<h3>アプリケーション用にINSERT,UPDATE,DELETE,SELECTを許可する</h3>

特定のデータベースのすべてのテーブルにINSERT,UPDATE,DELETE,SELECT権限を与える。

<pre>
GRANT INSERT,UPDATE,DELETE,SELECT ON mydatabase.* TO 'kimotoapp'@'%' IDENTIFIED BY 'eifjutAB&';
</pre>

<h3>参照用にSELECTのみを許可する</h3>

特定のデータベースのすべてのテーブルにSELECT権限を与える。

<pre>
GRANT SELECT ON mydatabase.* TO 'kimotoselect'@'%' IDENTIFIED BY 'eifjutAB&';
</pre>
