<h2>フィールドの定義を変更する - alter table change column文</h2>

フィールドの定義を変更するには「alter table change column文」を使用します。

<pre>
alter table テーブル名 change column 変更対象のフィールド名 変更後のフィールド名 フィールド定義
</pre>

フィールド定義は、データ型、NULL制約、デフォルト値などを指定できます。

「alter table change column文」のサンプルです。

<pre>
alter table book change column author author varchar(150) not null defatul '';
</pre>

<h3>alter table change column文で、フィールド名だけを変更できますか?</h3>

フィールド名だけを変更することはMariaDBではできません。フィールド名だけを変更する場合でも、フィールド定義を記述する必要があります。

<h3>行が多い場合に「alter table change column文」が遅いです</h3>

行が多い場合に「alter table change column文」が遅いのは、仕方ありません。

MariaDBでは、一時的なテーブルを作成して、そこへコピーして、現在の処理に影響がないように、フィールド定義を変更してくれるので待ちましょう。

このようなことが起こりますので、データ量が小さいうちに、あるいは、最初から多いことがわかっている場合は、データベースのテーブル設計をきちんとしておくことを推奨します。
