<h2>insert文 - 行の挿入</h2>

insert文を使うと行の挿入を行うことができます。

<pre>
# insert文
insert into テーブル名 (列名1, 列名2, ...) values (フィールドの値1, フィールドの値2, ...);
</pre>

insert文のサンプルです。

<pre>
insert into book (id, name, price) values (1, 'Perl', 2000);
</pre>

<h3>auto_incrementが指定されている場合のinsert文の動作</h3>

<a href="https://mariadb.perlzemi.com/blog/20200218150054.html">テーブルの作成</a>を行った場合に、フィールド定義の中で「auto_increment」が指定されているフィールドは、自動的に整数がインクリメントされて、その値が設定されます。

<pre>
# フィールド定義の中で「auto_increment」が指定されているフィールドがある
create table book (
  id int primary key auto_increment,
  name varchar(150) not null default '',
  pirce int not null default 0
) engine=InnoDB charset=utf8mb4;
</pre>

現在のauto_incrementが3であったとします。その場合に次のinsert文を実行するとします。

<pre>
insert into book (name, price) values ('Perl', 2000);
</pre>

すると次のデータが、挿入されます。

<pre>
id, name, price
4, 'Perl', 2000
</pre>

<h3>CSVデータからデータの挿入を行いたい場合</h3>

CSVデータからデータの挿入を行いたい場合はinsert文の特別な構文を使います。

<ul>
  <li><a href="/blog/20201014115811.html">CSVファイルのデータをテーブルに読み込む</a></li>
</ul>

カンマ区切りではなく、タブ区切りのデータなど、他の区切り文字のデータでもデータの挿入を行うことは可能です。
