<h2>データベースエンジンの種類を確認する</h2>

MariaDBで、データベースエンジンの種類を確認するSQLコマンドを紹介します。

すべてのテーブルのデータベースエンジンをInnoDBにしているはずが、何かの間違いで、MyISAMになっているテーブルがあるという場合がときどきあります。

こういう場合に、すべてのテーブルで、データベースエンジンを確認できると便利です。

<h3>データベースエンジンの種類を確認する</h3>

データベースエンジンの種類を確認するSQLコマンドです。

information_schema.tablesのengineフィールドで、データベースエンジンの種類を確認できます。

<pre>
select
  table_name, engine
from 
  information_schema.tables  
where
  table_schema=database()  
order by
  table_name
;
</pre>

出力結果の例です。

<pre>
+-----------------------+--------+
| table_name            | engine |
+-----------------------+--------+
| book                  | InnoDB |
| author                | InnoDB |
| publisher             | InnoDB |
+-----------------------+--------+
</pre>

<h3>データベースエンジンを変更する</h3>

データベースエンジンを、変更したい場合は「alter table change database engine」コマンドを使用します。

<ul>
  <li><a href="">データベースエンジンを変更する</a></li>
</ul>
