<h2>CSVファイルのデータをテーブルに読み込む</h2>

CSVファイルのデータをテーブルに読み込むには「load data local infile」を使います。区切り文字に「,」を文字列囲みを「"」で指定します。

<pre>
load data local infile '/tmp/book.csv'
  into table book fields terminated by ','
  optionally enclosed by '"';
</pre>

CSVの列の並びと、フィールドの並びが異なる場合は、正しく読み込むことができません。

CSVファイルの各列を、フィールドに対応させるには以下のようにします。

<pre>
load data local infile '/tmp/book.csv'
  into table book fields terminated by ','
  optionally enclosed by '"'
(id, price, name, author_id);
</pre>

列を読み飛ばしたい場合は適当な変数名を使います。

<pre>
load data local infile '/tmp/book.csv'
  into table book fields terminated by ','
  optionally enclosed by '"'
(id, price, @tmp1, name, author_id);
</pre>

<h3>テーブルの内容をCSVとして出力する</h3>

テーブルの内容をCSVとして出力する方法については以下で解説しています。

<ul>
  <li><a href="/blog/20201015115811.html">テーブルの内容をCSVとして出力する</a></li>
</ul>
