<h2>explain - SQLの性能調査のためにSQLの実行プランを見る</h2>

explainコマンドを使用すると、SQLの実行プランを見ることができます。SQLの性能調査をするときに、まず試してみるコマンドがexplainです。

<pre>
explain 確認したいSQL
</pre>

「select * from book where author_id = 4;」というSQLを性能調査するためにexplainを使うサンプルです。SQLの前にexplainをつけるだけです。

<pre>
explain select * from book where author_id = 4;
</pre>


<h3>性能調査の見どころ</h3>

性能調査の見どころです。

<h4>性能調査の最重要ポイントはインデックスが使われているか</h4>

SQLの性能調査の最重要ポイントは、インデックスが使われているかです。

数万件以上の行を持つテーブルで、すべての行を線形探索している場合、SQLは劇的に遅いです。インデックスが使われるように、SQLを修正するか、<a href="/blog/20200207093958.html">インデックスを作成</a>する必要があります。
