<div class="what_is_this_site">
  <div class="inside">
    <a href="https://websystem.perlzemi.com/">Webシステム開発</a>や<a href="https://datascience.perlzemi.com/">データ分析</a>のデータベースとして使える<b>MariaDB</b>の入門サイトです。<br>基本的なSQL、データベース・テーブルの作成、データの保存方法などが学べます。<br><a href="https://linux.perlzemi.com/">Unix/Linux</a>ミドルウェアで補助的な利用をされている<a href="https://tutorial.perlzemi.com/">Perl</a>が、MariaDBの一部の周辺ツールでも利用されています。<br>Perl総合研究所では、データベースアクセスモジュール<a href="https://dbix-custom.perlzemi.com">DBIx::Custom</a>の開発・メンテナンスを行っています。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    プログラミングスクール<br>
    Perl元気塾
  </a>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>