<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    MariaDB入門
  </div>
  <ul>
    <li><a href="/list.html">新着情報</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    MariaDB関連技術を学ぶ
  </div>
  <ul>
    <li><a href="https://tutorial.perlzemi.com/">Perlプログラミング入門</a></li>
    <li><a href="https://dbix-custom.perlzemi.com">データベースアクセスモジュール</a></li>
    <li><a href="https://web.perlzemi.com">Webシステム開発入門</a></li>
    <li><a href="https://linux.perlzemi.com">Linuxサーバー管理入門</a></li>
    <li><a href="https://ubuntu.perlzemi.com/">Ubuntuサーバー構築入門</a></li> 
    <li><a href="https://centos.perlzemi.com">CentOSサーバー構築入門</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    連絡先
  </div>
  <ul>
    <li>
      <a href="mailto:kimoto.yuki@gmail.com">kimoto.yuki@gmail.com</a>
    </li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    Perlゼミニュース
  </div>
  <ul>
    <li>
      <div  style="padding:10px 10px;height:400px;overflow-y:auto;">
        <a class="twitter-timeline" href="https://twitter.com/perlzemi?ref_src=twsrc%5Etfw">Tweets by perlzemi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </li>
  </ul>
</div>

