<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    コンテンツ
  </div>
  <ul>
    <li><a href="/list.html">新着情報</a></li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    連絡先
  </div>
  <ul>
    <li>
      <a href="mailto:kimoto.yuki@gmail.com">kimoto.yuki@gmail.com</a>
    </li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    Twitter
  </div>
  <ul>
    <li>
      <div  style="padding:10px 10px;font-size:14px;font-weight:bold;">
        Perlゼミの情報が役立ったら、フォロー、いいね、リツートで応援。
      </div>
      <div  style="padding:10px 10px;height:400px;overflow-y:auto;">
        <a class="twitter-timeline" href="https://twitter.com/perlzemi?ref_src=twsrc%5Etfw">Tweets by perlzemi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </li>
  </ul>
</div>

<div class="side-list">
  <div class="side-list-title">
    関連講座
  </div>
  <ul>
    <li><a href="https://tutorial.perlzemi.com/">Perlプログラミング</a></li>
    <li><a href="https://www.youtube.com/embed/51rY9Xswv0E">Youtubeチャンネル</a></li>
    <li><a href="https://web.perlzemi.com">Webシステム開発</a></li>
    <li><a href="https://webdesign.perlzemi.com">Webデザイン</a></li> 
    <li><a href="https://mojolicious.perlzemi.com/">Mojolicious入門</a></li>
    <li><a href="https://mojodoc.perlzemi.com">Mojoliciousドキュメント</a></li>
    <li><a href="https://text.perlzemi.com/">テキスト処理・正規表現</a></li>
    <li><a href="https://linux.perlzemi.com">Linux</a></li>
    <li><a href="https://ubuntu.perlzemi.com/">Ubuntu</a></li> 
    <li><a href="https://centos.perlzemi.com">CentOS</a></li>
    <li><a href="https://mariadb.perlzemi.com">MariaDB</a></li>
    <li><a href="https://dbix-custom.perlzemi.com">DBIx::Custom</a></li>
    <li><a href="https://philosophy.perlzemi.com">哲学</a></li>
    <li><a href="https://jp.giblog.net">Giblog</a></li>
    <li><a href="https://jp.spvm.info">SPVM</a></li>
    <li><a href="https://perlcodesample.hateblo.jp">テックブログ</a></li>
    <li><a href="https://datascience.perlzemi.com/">データサイエンス</a></li> 
    <li><a href="https://deeplearning.perlzemi.com/">AI・ディープラーニング</a></li> 
    <li><a href="https://bio.perlzemi.com/">バイオインフォマティクス</a></li> 
  </ul>
</div>

