<h2>MariaDB入門</h2>

MariaDBは、MySQLからフォークされたMySQL互換性が高いリレーショナルデータベースシステムです。MySQLがOracleに買収されたときに、プロジェクトがフォークされました。

2020年現在、MariaDBとMySQLは、内部的なソースコードにかなりの差がでてきています。バージョン番号の付け方も変更がありました。外部的な機能の差が広がってくることも予想されます。

そこで、MariaDB用の解説サイトを作成することにしました。

<h3>ディスク容量調査</h3>

<ul>
  <li><a href="/blog/20200201110010.html">MariaDBでテーブルの容量とデータベースの容量を確認する</a></li>
</ul>

<h3>データベースエンジン</h3>

<ul>
  <li><a href="/blog/20200131110010.html">データベースエンジンの種類を確認する</a></li>
  <li><a href="/blog/20200131110010.html">データベースエンジンを変更する</a></li>
</ul>

<h3>外部キー制約</h3>

<ul>
  <li><a href="/blog/20200206123437.html">外部キー制約を確認する</a></li>
  <li><a href="/blog/20200205123437.html">外部キー制約を削除する</a></li>
</ul>

<h3>インデックス</h3>

<ul>
  <li><a href="/blog/20200207093958.html">インデックスを作成する</a></li>
  <li><a href="/blog/20200204093958.html">インデックスを削除する</a></li>
  <li><a href="/blog/20200203093958.html">インデックスを確認する</a></li>
</ul>

<h3>性能調査</h3>

<ul>
  <li><a href="/blog/20200202093958.html">explain - SQLの性能調査のためにSQLの実行プランを見る</a></li>
</ul>

<a href="/list.html">すべての記事</a>
